{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="background">
        <div class="container">
            <p class="h3 text-center pt-5 mb-5 py-5 title">YT Downloader</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="content">
                    <form action="" method="post">
                        
                        <div class="border1">
                            {% comment %} {% csrf_token %} {% endcomment %}
                            {{ form|crispy }}
                        </div>
                        <input type="submit" value="Download" class="btn btn-dark btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if title %}
        <div class="container">
            <div class="dbox">
                <div class="img-thumb">
                    <img class="img-fluid" src="{{ thumbnail }}">
                </div>
                <div id="desl" class="v-about">
                    <p class="v-title h3">{{ title }}</p>
                    <section class="infos">
                        <li>Duration (s) <b>{{ duration }}</b></li>
                        <li>Views <b>{{ views }}</b></li>
                        <li>Likes <b>{{ likes }}</b></li>
                    </section>
                </div>
            </div>
        </div>
        {% comment %} {% if video_streams %}  
        <div id="m-show">
            <p class="v-title">{{ title }}</p>
        </div>
        <div class="downloads">
            <table>
                <tr>
                    <th scope="col">Resolution</th>
                    <th scope="col">File Size</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Download</th>
                </tr>
                {% for stream in video_streams %}
                    <tr>
                        <td>{{ stream.resolution }}</td>
                        <td>{{ stream.file_size }}</td>
                        <td>{{ stream.extension }}</td>
                        <td><a href="{{ stream.url }}" style="text-decoration: none;"
                               download="{{ title }}.{{ stream.extension }}" target="_blank">Download <i
                                    class=" fa fa-download"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %} {% endcomment %}
            {% if onlyvideo_streams %}
                <p class="h3 text-center mt-5 mb-5">DOWNLOAD VIDEO</p>
                <table>
                    <tr>
                        <th scope="col">Resolution</th>
                        <th scope="col">Extension</th>
                        <th scope="col">Download</th>
                    </tr>
                    {% for stream in onlyvideo_streams %}
                        <tr>
                            <td>{{ stream.resolution }}</td>
                            
                            <td>{{ stream.extension }}</td>
                            <td><a href="{{ stream.url }}" style="text-decoration: none;"
                                   download="{{ title }}.{{ stream.extension }}" target="_blank">Download <i
                                        class=" fa fa-download"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if audio_streams %}
                <p class="h3 text-center mt-5 mb-5">Audio Only</p>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">File Size</th>
                            <th scope="col">Extension</th>
                            <th scope="col">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stream in audio_streams %}
                        <tr>
                            <td>{{ stream.filesize }}</td>
                            <td>{{ stream.extension }}</td>
                            <td><a href="{{ stream.url }}">Download</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        {% endif %}
        {% endblock %}   
                   



   {% comment %} CODE FOR YT-DLP LIBRARY  {% endcomment %}


{% comment %} {% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="background">
        
            <div class="container">
            <p class="h3 text-center pt-5 mb-5 py-5 title">YT Downloader</p>
        
        </div>
        <div class="container">
            <div class="row">
        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="border1">
                {{ form|crispy }}
            </div>
                <input type="submit" value="Download" class="btn btn-dark btn-block">
            </form>
        </div>
        </div>

    </div>
    </div>

    {% if title %}
      <div class="container">  
        <div class="dbox">
            <div class="img-thumb">
                <img class="img-fluid" src="{{ thumbnail }}">
            </div>

            <div id="desl" class="v-about">
                <p class="v-title h3">{{ title }}</p>
                <section class="infos">

                    <li>Duration (s) <b>{{ duration }}</b></li>
                    <li>Views <b>{{ views }}</b></li>
                    <li>Likes <b>{{ likes }}</b></li>


                </section>
            </div>
            </div>
        </div>
        

        <div id="m-show">
            <p class="v-title">{{ title }}</p>
        </div>
        <div class="downloads">

            <table>
                <tr>
                    <th scope="col">Resolution</th>
                    <th scope="col">File Size</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Download</th>
                </tr>
                {% for stream in video_streams %}
                    <tr>
                        <td>{{ stream.resolution }}</td>
                        <td>{{ stream.file_size }}</td>
                        <td>{{ stream.extension }}</td>
                        <td><a href="{{ stream.url }}" style="text-decoration: none;"
                               download="{{ title }}.{{ stream.extension }}" target="_blank">Download <i
                                    class=" fa fa-download"></i></a></td>
                    </tr>
                {% endfor %}
            </table>


            <p class="h3 text-center mt-5 mb-5">Video Only</p>

            <table>
                <tr>
                    <th scope="col">Resolution</th>
                    <th scope="col">File Size</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Download</th>
                </tr>
                {% for stream in onlyvideo_streams %}
                    <tr>
                        <td>{{ stream.resolution }}</td>
                        <td>{{ stream.file_size }}</td>
                        <td>{{ stream.extension }}</td>
                        <td><a href="{{ stream.url }}" style="text-decoration: none;"
                               download="{{ title }}.{{ stream.extension }}" target="_blank">Download <i
                                    class=" fa fa-download"></i></a></td>
                    </tr>
                {% endfor %}
            </table>

            <p class="h3 text-center mt-5 mb-5">Audio Only</p>
            <table>
                
                <tr>
                    <th scope="col">File Size</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Download</th>
                </tr>
                </thead>
                <tbody>
                {% for stream in audio_streams %}
                    <tr>
                        <td>{{ stream.file_size }}</td>
                        <td>{{ stream.extension }}</td>
                        <td><a href="{{ stream.url }}" style="text-decoration: none;"
                               download="{{ title }}.{{ stream.extension }}" target="_blank">Download <i
                                class=" fa fa-download"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %} {% endcomment %}

        
     
        
     